# DATABASE_URL configuration
# You can use a relative or absolute path.
# Examples:
# DATABASE_URL=mta_sheet.db
# DATABASE_URL=sqlite:/absolute/path/to/mta_sheet.db
# DATABASE_URL=sqlite:relative/path/to/mta_sheet.db

DATABASE_URL=mta_sheet.db
