# Rust compile artifacts
/target
/dist

# Backup files
**/*.rs.bk

# IDEs and editors
.vscode/
.idea/
*.swp
*.log

# Databases
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Environment files
.env
.env*
!.env.example

# System files
.DS_Store

# Leptos artifacts
/public/pkg/
